<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
    <form hx-post="/add_user/" hx-swap="outerHTML">
        {% csrf_token %}
        <input type="text" name="first_name">
        <input type="text" name="last_name">
        <input type="email" name="email">
        <button>Submit</button>
    </form>
    <ul>
        {% for person in persons %}
            <li>{{ person.first_name }} {{ person.last_name }} {{ person.email }}</li>
        {% endfor %}
    </ul>
</body>
</html>