.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.htmx-indicator {
    opacity: 0;
    width: 10vw;
    height: 2vh;
    transition: opacity 200ms ease-in;
}

.login-user-form,
.register-user-form {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.htmx-request.htmx-indicator { opacity: 1; }

.htmx-request .htmx-indicator { opacity: 1; }

.entry-container {
    display: flex;
    flex-direction: row;
}