.login-user-form,
.register-user-form {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.entry-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    justify-content: start;
    align-content: start;
    margin-bottom: 1rem;
}

.delete-entry-button {
    height: 1em;
    width: 1em;
    padding: 0;

    border: none;
    background-color: white;
}

.delete-entry-button:hover {
    animation: pulse 0.8s infinite;
}

@keyframes pulse {
    0%   { filter: none; transform: scale(1); }
    50%  { filter: sepia(1) saturate(5) hue-rotate(-50deg); transform: scale(1.2); }
    100% { filter: none; transform: scale(1); }
}
